{% extends 'base.html' %}

{% block content %}
        <div class="container">
            {% if object %}
                    {% with product=object %}
                        <section class="row m-auto mt-4">
                            
                            <div class="col-6 m-auto mb-4 py-5  d-none d-md-block">
                                <h6 class="text-start my-5 py-5">{{product.description}}</h6>
                            </div>
                            <div class="col-11 col-md-6 m-auto mb-4">
                                {% include 'product/card.html' %}
                            </div>
                        </section>

                        <section class="bg-body-tertiary" >
                            <div class="text-center container">
                                
                                <div class="row m-auto">  
                                <h4 class="mt-4 mb-5 text-start"><strong>Release Products</strong></h4>
                                {% for product in releaseProducts %}
                                    <div class="col-lg-3 col-md-6 mb-4">
                                        {% include 'product/card.html' %}
                                    </div>
                                {% empty %}
                                    <h4 class="text-center">No Discount today!!!</h4>
                                {% endfor %}
                            </div>
                            </div>
                        </section>
                    {% endwith %}
            {% endif %}
        </div>
{% endblock content %}