
<!------ Include the above in your HEAD tag ---------->

<div id="carousel_container" class=" p-0 m-0" style="background:linear-gradient(to left,rgb(2, 89, 107) ,rgb(2, 89, 107) ,rgb(13, 202, 240)) ;">
  <div id="myCarousel" class="carousel slide carousel-fade " data-ride="carousel">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div  class="carousel-inner w-75 m-auto h-100">
        
        {% for carousel in carousels %}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %} h-100" data-bs-interval="3000">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 d-flex flex-column justify-content-around gap-2">
                  <h4 class="order-0 text-center">{{carousel.name}} <br>
                    </h4>
                  <p class="order-2 order-md-1 text-center">{{carousel.description}}</p> 
                  <a href="#" class="btn btn-info text-decoration-none text-white align-self-center w-auto order-1 order-md-2">BUY NOW</a>  
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1 object-fit-cover">
                  <img src="{{carousel.photo.url}}" class="mx-auto rounded-circle" alt="slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <h3>RanaRose</h3>
        {% endfor %}
        <button class="carousel-control-prev"  type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon btn btn-outline-dark shadow  border-1 border-white" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon btn btn-outline-dark shadow  border-1 border-white" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!--slide end--> 
      </div>
    </div>
  </div>
</div>