
<!------ Include the above in your HEAD tag ---------->

<div id="carousel_container" class=" p-0 m-0" style="background:linear-gradient(to left,rgb(2, 89, 107) ,rgb(2, 89, 107) ,rgb(13, 202, 240)) ;">
  <div class="container">
    <div id="myCarousel" class="carousel overflow-hidden pt-0 pt-md-5 slide carousel-fade " data-ride="carousel">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div  class="carousel-inner m-auto h-100">
          
          {% for carousel in carousels %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %} h-100" data-bs-interval="3000">
            <div class="mask flex-center">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-7 col-12 order-md-1 order-2 d-flex flex-column justify-content-around gap-2">
                    <h4 class="order-0 text-center">{{carousel.name}} <br>
                      </h4>
                    <p class="order-2 d-none d-md-block order-md-1 text-center">{{carousel.description}}</p> 
                    {% if carousel.pk in cart %}
                    <button class="btn_product btn btn-outline-danger order-1 m-auto order-md-2 py-2 fs-4 shadow border-1  fa-solid fa-trash fa-2 w-25" data-product="{{carousel.pk}}" id="delete">
                    </button>
                    {% else %}
                        <button class="btn_product btn btn-success order-1 m-auto order-md-2 py-2 fs-4 shadow border-1  fa-solid fa-cart-plus fa-2 w-25" data-product="{{carousel.pk}}" id="add">
                        </button>
                    {% endif %}
                  </div>
                  <div class="col-md-5 col-12 order-md-2 order-1 object-fit-cover">
                    <img src="{{carousel.photo.url}}" class="mx-auto rounded-circle" alt="slide">
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <h3>RanaRose</h3>
          {% endfor %}
          <button class="carousel-control-prev"  type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn btn-outline-dark shadow  border-1 border-white" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon btn btn-outline-dark shadow  border-1 border-white" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <!--slide end--> 
        </div>
      </div>
    </div>
  </div>
</div>