<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators m-0">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active bg-info" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" class="bg-info" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" class="bg-info" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-center w-75 pt-4 m-auto">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{{carousels.0.photo.url}}" class="d-block float-end w-75" height="400" alt="...">
                <div class="card w-25 border-0 gap-2 align-items-center align-self-end mt-5">
                    <h5>{{carousels.0.name}}</h5>
                    <p>{{carousels.0.description}}</p>
                    <a href="#" class="btn btn-outline-info w-50">more</a>
                </div>
              </div>
              
            {% for carousel in carousels %}
            
            <div class="carousel-item " data-bs-interval="3000">
              <img src="{{carousel.photo.url}}" class="d-block float-end w-75" height="400" alt="...">
              <div class="card w-25 border-0 gap-2 align-items-center align-self-end mt-5">
                  <h5>{{carousel.name}}</h5>
                  <p>{{carousel.description}}</p>
                  <a href="#" class="btn btn-outline-info w-50">more..</a>
              </div>
            </div>
            {% empty %}
            <h3>RanaRose</h3>
            {% endfor %}
        </div>
        <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>