<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white d-flex justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="fs-4 border-0 text-white bg-danger" type="button" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are to end logout.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'Registration:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="logout">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'cart/cart.html' %}