
<!-- Navbar -->
<nav class="navbar navbar-expand-lg d-none d-lg-block p-0 navbar-dark bg-dark">
    <div class="container w-75 m-auto">
      <ul class="navbar-nav">
        <!-- Icon dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-0 text-info" 
                href="#" 
                role="button" 
                id="language"
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                EN
            </a>
            <i class="flag-united-kingdom flag m-0"></i>
        </a>
          <ul class="dropdown-menu" aria-labelledby="language">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="flag-united-kingdom flag"></i>English
                <i class="fa fa-check text-success ms-2"></i
              ></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
            </li>
          </ul>
        </li>
        <i class="text-white m-2 mt-0 mb-0">|</i>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-0 text-info" 
                href="#" 
                role="button" 
                id="currency"
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                SAR
            </a>
            <i class="flag-united-kingdom flag m-0"></i>
        </a>
          <ul class="dropdown-menu" aria-labelledby="currency">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="flag-united-kingdom flag"></i>SAR
                <i class="fa fa-check text-success ms-2"></i
              ></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>USD</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-china flag"></i>YER</a>
            </li>
          </ul>
        </li>
      </ul>
      <div>
        <a href="#" class="text-white text-decoration-none fw-light">773021448</a>
        <i class="text-info m-2 mt-0 mb-0">|</i>
        <a href="#" class="text-white text-decoration-none fw-light">773021448</a>
      </div>
    </div>
</nav>

<div class="bg-body-tertiary ">
    <div class="container w-75 m-auto">
        <nav class="navbar navbar-expand-md sticky-top navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Toggle button -->
                <button class="navbar-toggler" 
                    type="button" data-bs-toggle="collapse" 
                    data-bs-target="#ranarosenavbar" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon small"></span>
                </button>
          
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="ranarosenavbar">
                <!-- Navbar brand -->
                <!-- <a class="navbar-brand mt-2 mt-lg-0" href="#">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="15"
                    alt="Rana Rose"
                    loading="lazy"
                  />
                </a> -->
                <a class="navbar-brand text-info fs-3 fw-bold p-0" href="{% url 'Site:Home' %}"
                    >Rana<span class="text-black">Rose</span>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Site:Home' %}">Home</a>
                  </li>
                    <!-- Dropdown Categories -->
                    <li class="nav-item dropdown">
                      <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="Categoriesdropdown"
                      data-bs-toggle="dropdown" 
                      role="button"
                      aria-expanded="false"
                      >
                      Categories
                      </a>
                      <ul class="dropdown-menu"   aria-labelledby="#Categoriesdropdown">
                          {% for category in categories %}
                          <li>
                              <a class="dropdown-item" href="{% url 'Product:list' category.name %}">{{category.name}}</a>
                          </li>
                          {% empty %}
                          <li>
                              <a class="dropdown-item disabled">No Categories</a>
                          </li>
                          {% endfor %}
                      </ul>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
                <form class="d-flex input-group w-auto">
                    <input
                      type="search"
                      class="form-control rounded"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                </form>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
          
              <!-- Right elements -->
              <div class="d-flex align-items-center">
                <!-- Icon -->
                {% if user.is_authenticated %}
                  <a id="cart_icon" class="text-reset w-auto position-relative mx-2 me-3" href="#">
                    <i class="fa fa-cart-shopping position-relative fa-2x text-info">
                    </i>
                    <span class="badge bg-danger rounded-pill translate-middle position-absolute top-0 start-100">0</span>
                    
                  </a>    
                  <!-- <i class="fa-solid fa-cart-shopping fa-2x"></i> -->
                  <!-- Avatar -->
                  <div class="dropdown">
                    <a
                      class=" hidden-arrow"
                      href="#"
                      id="navbarDropdownMenuAvatar"
                      data-bs-toggle="dropdown"
                      role="button"
                      aria-expanded="false"
                      >
                        {% if user.avatar %}
                            <img
                            src="{{user.avater}}"
                            class="rounded-circle"
                            height="25"
                            alt="avatar"
                            loading="lazy"
                            />
                        {% else %}
                            <i class="fa fa-user-circle text-info fa-2x "></i>
                        {% endif %}
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="navbarDropdownMenuAvatar"
                    >
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-user mx-1 text-info"></i>{{user.first_name|add:' '|add:user.last_name}}</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-cog mx-1 text-dark-emphasis"></i> Settings</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa fa-power-off mx-1 text-danger"></i>Logout</a>
                      </li>
                    </ul>
                  </div>
                {% else %}
                  <a class="text-reset mx-4 me-3" href="{% url 'Registration:login' %}">
                    <i class="fa fa-sign-in fa-2x text-info"></i>
                  </a>
                {% endif %}
              </div>
              <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
    </div>
</div>
<!-- Navbar -->