<div class="container-fluid bg-dark p-0">
    <nav class="container navbar p-0 ">
        <div class="container-fluid">
        <div>
            <a class=" text-decoration-none fs-6 fw-lighter text-white" href="#">773021448</a>
            <span class="text-info">|</span>
            <a class=" text-decoration-none fs-6 fw-lighter text-white" href="#">773021448</a>
        </div>
        <div>
            <a href="" class="text-decoration-none text-info">English</a>
            <span class="text-white">|</span>
            <a href="" class="text-decoration-none text-info">YER</a>
        </div>
        </div>
    </nav>
</div>
<div class="container-fluid bg-body-tertiary shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-md p-0 m-0 d-flex flex-nowrap justify-content-between align-items-center">
            <a class="navbar-brand text-info fs-2 fw-bold p-0 w-100" href="#">Rana<span class="text-black">Rose</span></a>
            <ul class="navbar-nav d-flex flex-row gap-2 me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user-circle fa-2x "></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                </li>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-md m-0">
            <div class="container-fluid p-0">
                <div class="bg-info p-0 d-none d-md-block">
                    <a class="nav-link fs-6 fw-bold text-white dropdown-toggle p-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    All Categories
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            
                <div class="collapse navbar-collapse m-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto m-0 fs-6 gap-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <div class="bg-md-info p-0">
                            <a class="nav-link fs-6 fw-md-bold text-md-white dropdown-toggle p-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            All Categories
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li>
                        <form class="" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>