<style>
 
</style>
<!-- Navbar -->
<div class="bg-body-tertiary fixed-top top-0 shadow-sm" id="navigation">
    <div class="container">
        <nav  class="navbar navbar-expand-md navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Toggle button -->
                <button class="navbar-toggler" 
                    type="button" data-bs-toggle="collapse" 
                    data-bs-target="#ranarosenavbar" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon small"></span>
                </button>
          
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="ranarosenavbar">
                <!-- Navbar brand -->
                <!-- <a class="navbar-brand mt-2 mt-lg-0" href="#">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="15"
                    alt="Rana Rose"
                    loading="lazy"
                  />
                </a> -->
                <a class="navbar-brand text-info fs-3 fw-bold p-0" href="{% url 'Site:Home' %}"
                    >Rana<span class="text-black">Rose</span>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Site:Home' %}">Home</a>
                  </li>
                    <!-- Dropdown Categories -->
                    <li class="nav-item dropdown">
                      <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="Categoriesdropdown"
                      data-bs-toggle="dropdown" 
                      role="button"
                      aria-expanded="false"
                      >
                      Categories
                      </a>
                      <ul class="dropdown-menu"   aria-labelledby="#Categoriesdropdown">
                          {% for category in categories %}
                          <li>
                              <a class="dropdown-item" href="{% url 'Product:list' category.name %}">{{category.name}}</a>
                          </li>
                          {% empty %}
                          <li>
                              <a class="dropdown-item disabled">No Categories</a>
                          </li>
                          {% endfor %}
                      </ul>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
                <form class="d-flex input-group w-auto mx-0 mx-md-4">
                    <input
                      type="search"
                      class="form-control rounded"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                </form>
                <div class="d-block d-md-none dropdown no-arrow py-2">
                  <a
                    class="hidden-arrow text-info text-decoration-none fa-2x  fa-solid fa-user-circle"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    data-bs-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-start dropdown-menu-md-end"
                    aria-labelledby="navbarDropdownMenuAvatar"
                  >
                    <li>
                      <a class="dropdown-item" href="#"><i class="fa fa-user mx-1 text-info"></i>{{user.first_name|add:' '|add:user.last_name}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="fa fa-cog mx-1 text-dark-emphasis"></i> Settings</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa fa-power-off mx-1 text-danger"></i>Logout</a>
                    </li>
                  </ul>
                </div>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
          
              <!-- Right elements -->
              <div class="d-flex gap-3 justify-content-around align-items-center">
                <!-- Icon -->
                {% if user.is_authenticated %}    
                  <a id="cart_icon" class="text-reset w-auto position-relative mt-2 mt-md-1" data-bs-toggle="offcanvas"  href="#cartOffcanvas" role="button" aria-controls="cartOffcanvas">
                    <i class="fa fa-cart-shopping position-relative fa-2x text-info">
                    </i>
                    <span class="badge bg-danger rounded-pill translate-middle position-absolute top-0 start-100" id="cart_badge">{{cart.products|length}}</span>
                    
                  </a>    
                  <!-- Avatar -->
                  <div class="d-none d-md-inline dropdown no-arrow">
                    <a
                      class="hidden-arrow text-info text-decoration-none fa-2x  fa-solid fa-user-circle"
                      href="#"
                      id="navbarDropdownMenuAvatar"
                      data-bs-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-start dropdown-menu-md-end"
                      aria-labelledby="navbarDropdownMenuAvatar"
                    >
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-user mx-1 text-info"></i>{{user.first_name|add:' '|add:user.last_name}}</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-cog mx-1 text-dark-emphasis"></i> Settings</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa fa-power-off mx-1 text-danger"></i>Logout</a>
                      </li>
                    </ul>
                  </div>
                {% else %}
                  <a class="text-reset mx-4 me-3" href="{% url 'Registration:login' %}">
                    <i class="fa fa-sign-in fa-2x text-info"></i>
                  </a>
                {% endif %}
              </div>
              <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
    </div>
</div>
<!-- Navbar -->
