
{% include 'include/carousel.html' %}


{% include 'include/categoriesCarousel.html' %}



<section class="bg-white">
    <div class="text-center container">
        
        <div class="row w-75 m-auto">  
          <h4 class="mt-4 mb-5 text-start"><strong>Offers</strong></h4>
            {% for offer in offers %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="{% url 'Product:offerDetails' offer.pk %}">
                        <div class="card border-0 shadow-sm">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{offer.product.photo.url}}"
                                class="w-100"
                                height="250" />
                                <div class="mask float-end m-1 mb-0">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-success shadow-sm ms-2">{{offer.discount}}%</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-start mt-0 pt-0">
                            <a href="" class="text-reset  text-decoration-none">
                                <h5 class="card-title mb-1">{{offer.product.name}}</h5>
                            </a>
                            <a href="" class="text-reset text-decoration-none">
                                <p>{{offer.product.category}}</p>
                            </a>
                            {% with price=offer.product.price discount=offer.discount %}
                                <h6 class="mb-1 float-end">{{price}}SAR</h6>
                                <h6 class="mb-1 float-end m-2 mt-0 mb-0 text-danger text-decoration-line-through small">{{offer.product.price}}</h6>
                            {% endwith %}
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <h4 class="text-center">No Discount today!!!</h4>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-body-tertiary" >
    <div class="text-center container">
        
        <div class="row w-75 m-auto">  
          <h4 class="mt-4 mb-5 text-start"><strong>New Products</strong></h4>
        {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'Product:productDetails' product.pk %}">
                    <div class="card border-0 shadow-sm">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="{{product.photo.url}}"
                            class="w-100"
                            height="250" />
                        </div>
                        <div class="card-body text-start">
                        <a href="" class="text-reset  text-decoration-none">
                            <h5 class="card-title mb-1">{{product.name}}</h5>
                        </a>
                        <a href="" class="text-reset text-decoration-none">
                            <p>{{product.category}}</p>
                        </a>
                        <h6 class="mb-1 float-end">{{product.price}}SAR</h6>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <h4 class="text-center">No Discount today!!!</h4>
        {% endfor %}
      </div>
    </div>
</section>

<section class="bg-info-subtle pb-2" >
    <div class="text-center container">
        
        <div class="row w-75 m-auto">  
          <h4 class="mt-4 mb-5 text-start"><strong>Top selling</strong></h4>
            <div class="d-flex gap-4 overflow-auto">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-10 mb-4">
                        <a href="{% url 'Product:productDetails' product.pk %}">
                            <div class="card border-0 shadow-sm">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                data-mdb-ripple-color="light">
                                <img src="{{product.photo.url}}"
                                    class="w-100"
                                    height="250" />
                                </div>
                                <div class="card-body text-start">
                                <a href="" class="text-reset  text-decoration-none">
                                    <h5 class="card-title mb-1">{{product.name}}</h5>
                                </a>
                                <a href="" class="text-reset text-decoration-none">
                                    <p>{{product.category}}</p>
                                </a>
                                <h6 class="mb-1 float-end">{{product.price}}SAR</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h4 class="text-center">No top selling!!!</h4>
                {% endfor %}
            </div>
      </div>
    </div>
</section>
