<div class="container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators m-0">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active bg-info" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" class="bg-info" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" class="bg-info" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-center w-75 pt-4 m-auto">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="2.jpeg" class="d-block float-end w-75" height="400" alt="...">
            <div class="card w-25 border-0 gap-2 align-items-center align-self-end mt-5">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
                <button class="btn btn-info w-75">Add</button>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="5.jpeg" class="d-block float-end w-75" height="400" alt="...">
            <div class="card w-25 border-0 gap-2 align-items-center align-self-end mt-5">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
                <button class="btn btn-info w-75">Add</button>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="8.jpeg" class="d-block float-end w-75" height="400" alt="...">
            <div class="card w-25 border-0 gap-2 align-items-center align-self-end mt-5">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
                <button class="btn btn-info w-75">Add</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container-fluid bg-body-tertiary">
    <div class="container">
        <section class="row justify-content-center mt-4 pt-2 align-items-center">
            <h2 class="text-center mb-5">Categories</h2>
            <div class="d-flex align-items-center justify-content-center">
                <span id="btn_prev" class="carousel-control-prev-icon   alert alert-dark shadow-sm opacity-75 m-4 mt-0 mb-0" aria-hidden="true"></span>
                <div class="row w-75 overflow-auto flex-nowrap" id="categories_cards">
                    <div class="card col-6 col-md-4 col-lg-3  border-0 text-center bg-body-tertiary">
                        <img src="images/3.png" alt="" class="card-img bg-info-subtle rounded-circle shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-info">bouqet</h5>
                        </div>
                    </div>
                    <div class="card col-6 col-md-4 col-lg-3  border-0 text-center bg-body-tertiary">
                        <img src="images/3.png" alt="" class="card-img bg-info-subtle rounded-circle shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-info">bouqet</h5>
                        </div>
                    </div>
                    <div class="card col-6 col-md-4 col-lg-3  border-0 text-center bg-body-tertiary">
                        <img src="images/3.png" alt="" class="card-img bg-info-subtle rounded-circle shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-info">bouqet</h5>
                        </div>
                    </div>
                    <div class="card col-6 col-md-4 col-lg-3  border-0 text-center bg-body-tertiary">
                        <img src="images/3.png" alt="" class="card-img bg-info-subtle rounded-circle shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-info">bouqet</h5>
                        </div>
                    </div>
                    <div class="card col-6 col-md-4 col-lg-3  border-0 text-center bg-body-tertiary">
                        <img src="images/3.png" alt="" class="card-img bg-info-subtle rounded-circle shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-info">bouqet</h5>
                        </div>
                    </div>
                </div>
                <span id="btn_next" class="carousel-control-next-icon   alert alert-dark shadow-sm opacity-75 m-4 mt-0 mb-0" aria-hidden="true"></span>
            </div>
        </section>
    </div>
</div>

<div class="container">
    <section class=" mt-4">
        <div class="row pt-2 w-75 m-auto overflow-hidden">
            <div class="mb-2">
                <h3 class="d-flex">Offers <span><hr class="m-2 mt-3 text-info" width="1000"></span></h3>
            </div>
            <div class="card col-12 col-md-6 col-lg-3 border-0" id="offer_card">
                <div class="card-header bg-body border-0">
                    <img src="5.jpeg" height="250" class="card-img" alt="">
                </div>
                <div class="card-body border-0">
                    <h5 class="card-title">title</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                </div>
                <div class="card-footer border-0 bg-body">
                    <h6 class="float-end">3000SAR</h6>
                </div>
            </div>
           
            <div class="card col-12 col-md-6 col-lg-3 border-0">
                <div class="card-header bg-body border-0">
                    <img src="5.jpeg" height="250" class="card-img" alt="">
                </div>
                <div class="card-body border-0">
                    <h5 class="card-title">title</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                </div>
                <div class="card-footer border-0 bg-body">
                    <h6 class="float-end">3000SAR</h6>
                </div>
            </div>
           
           
            <div class="card col-12 col-md-6 col-lg-3 border-0">
                <div class="card-header bg-body border-0">
                    <img src="5.jpeg" height="250" class="card-img" alt="">
                </div>
                <div class="card-body border-0">
                    <h5 class="card-title">title</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                </div>
                <div class="card-footer border-0 bg-body">
                    <h6 class="float-end">3000SAR</h6>
                </div>
            </div>
           
            <div class="card col-12 col-md-6 col-lg-3 border-0">
                <div class="card-header bg-body border-0">
                    <img src="5.jpeg" height="250" class="card-img" alt="">
                </div>
                <div class="card-body border-0">
                    <h5 class="card-title">title</h5>
                    <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                </div>
                <div class="card-footer border-0 bg-body">
                    <h6 class="float-end">3000SAR</h6>
                </div>
            </div>
           

        </div>
    </section>
</div>

<div class="container-fluid bg-body-tertiary">
    <div class="container">
        <section class="mt-4 pt-2">
            <div class="row pt-2 w-75 m-auto overflow-hidden">
                <div class="mb-2">
                    <h3 class="d-flex text-nowrap">New Products <span><hr class="m-2 mt-3 text-info" width="1000"></span></h3>
                </div>
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        
                <div class="card col-12 col-md-6 col-lg-3 border-0 bg-body-tertiary">
                    <div class="card-header bg-body-tertiary border-0">
                        <img src="5.jpeg" height="250" class="card-img" alt="">
                    </div>
                    <div class="card-body border-0">
                        <h5 class="card-title">title</h5>
                        <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates porro accusantium distinctio? Eaque quam, illo sapiente voluptatibus deserunt consequatur reprehenderit asperiores et, cumque veritatis ex quibusdam. Corporis, molestiae provident?</p>
                    </div>
                    <div class="card-footer border-0 bg-body-tertiary">
                        <h6 class="float-end">3000SAR</h6>
                    </div>
                </div>                        

            </div>
        </section>
    </div>
</div>