<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
</head>
<body>
    <header class="mb-5">
        {% include 'include/header.html' %}
    </header>
    <main class="mt-5" id="main_tag">
            {% block content %}
                {% include 'include/main.html' %}
            {% endblock content %}
    </main>
    {% include 'include/dialog.html' %}
    {% include 'include/script.html' %}
    <footer>
        {% include 'include/footer.html' %}
    </footer>
    
</body>
</html>