<div  class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas" aria-labelledby="cartOffcanvasLabel">
    <div class="offcanvas-header d-flex gap-5 flex-column">
        <div class="d-flex justify-content-between align-items-center align-content-center w-100">
            <h5 class="offcanvas-title d-block align-self-start" id="cartOffcanvasLabel">Cart</h5>
            <button type="button" class="btn-close d-block" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="d-flex justify-content-start gap-2 flex-column align-items-start w-100">
            <h6 class="car-title text-center" id="cart_count">Products: {{cart.products|length}}</h6>
            <div class="d-flex justify-content-between align-items-end align-content-end w-100">
                <h5 class="car-title align-self-end my-0 py-0 text-center" id="cart_total"><span class="text-info">Total:</span> {{cart.grand_total | floatformat:2}} SAR</h5>
                <a href="{% url 'Order:checkout' %}" class="btn btn-success btn-sm">Checkout</a>
            </div>
        </div>
    </div>
    <div id="cart_offcanvas" class="offcanvas-body pt-0 position-relative">
        <table class="table table-hover text-center">
            <thead class="sticky-top top-0">
            <tr class="shadow-sm">
                <th scope="col"><h6><strong>Product</strong></h6></th>
                <th scope="col"><h6><strong>Name</strong></h6></th>
                <th scope="col"><h6><strong>Price</strong></h6></th>
                <th scope="col"><h6><strong>Remove</strong></h6></th>
            </tr>
            </thead>
            <tbody id="cart_body" >

            {% for product in cart.products %}
            <tr>
                <td><img src ='{{product.photo.url}}' width="40" height="36"></td>
                <td><h6 class="fw-normal">{{product.name}}</h6></td>
                <td><h6 class="fw-normal">{{product.price | floatformat:2}}</h6></td>
                <td>
                    <button class="btn_product btn btn-sm text-danger d-block fa-solid fa-trash fs-5 w-100" data-product="{{product.pk}}" id="delete">
                    </button>
                </td>
            </tr>
            {% endfor %}
                                   
            </tbody>
        </table>
    </div>
</div>